/.prepare
/target
/packages/*/src
/packages/*/pkg
/fruit-apk-key.rsa
/fruit-apk-key.rsa.pub
/.cache
/.cache.workdir
/.etc*
/.usr*
/.var*
/*.rsa
/.distfiles
/.fruitdev

# VIM temporary file
.*.swp
.tmp
